@import '~office-ui-fabric-react/dist/sass/References.scss';

.blocketApp {
  .container {
    max-width: 800px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
  }
  .checkBoxes{
    @include ms-fontColor-white;
    max-width: 800px;
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
    justify-content: center;
    text-align: center;

  }

  .column {
    display: inline;
    justify-content: space-between;
    text-align: center;
    .column2{
      justify-content: center;
      display: inline-flex;
      padding: 2%;
    }

  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-black;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-black;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
}
